<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>

    <!--  ingresamos el navbar  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img class="imagen-logo-navbar" src="../styles/imagenes/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Sinopsis <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="genio_detras.html">Genio Detras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="popularizacion.html">Extra</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="creador_contenido.html">Creador Contenido</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="personal_info">
        <div class="container">
            <header>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="d-flex justify-content-center">
                            <img src="../styles/imagenes/me.jpg" alt="me" id="me">
                        </div>

                    </div>
                    <div class="col-lg-9">
                        <h1 style="text-align: center;"> <br> Samuel Vasquez</h1>
                        <p style="text-align: center;">
                            <i>
                                Estudiante en Ing. Computacion.
                            </i>
                        </p>
                    </div>
                </div>
            </header>

            <section>
                <h2> Acerca de Mi</h2>
                <p style="text-align: justify;">Soy Samuel Vasquez, tengo 19 años y actualmente aun estoy cursando la
                    carrera de Ing. en Computacion en la
                    <i>
                        <a href="https://uni.edu.ni/#/">Universidad Nacional de Ingenieria (UNI)</a>
                    </i>.
                    , Uno de mis
                    metas es poder concluir mi carrera universitaria para asi poder lograr concluir mis anhelos tantos
                    mios como los de mis seres cercanos. Por ello es la razon por la cual estoy cursando Este
                    curso de Programacion Web
                </p>

                <h2> Razon del Sitio Web</h2>
                <p style="text-align: justify; padding-bottom: 25px;">
                    La razon principal, es la aficion que tengo al anime en cuestion, ha sido uno de los animes que
                    mejor
                    equilibrio ha tenido, tanto en trama, historia, accion, fantasia e incluso en muchos aspectos los
                    cuales
                    no son tan presentes en otras franquicias del anime tales como la
                    <i>
                        <a href="https://es.wikipedia.org/wiki/Geopol%C3%ADtica">Geopolitica</a>
                        ,
                        <a href="https://es.wikipedia.org/wiki/Diversidad_cultural">Diversidad Cultural</a>
                        ,
                        <a href="https://es.wikipedia.org/wiki/Racismo">Racismo</a>
                        ,
                        <a href="https://es.wikipedia.org/wiki/Racismo">Esclavismos</a>
                        ,
                        <a href="https://es.wikipedia.org/wiki/Discriminaci%C3%B3n">Discriminacion</a>
                    </i>
                    etc.

                </p>
            </section>
            <footer>
                <h3>Puedes Contactarme con: </h3>
                <a href="https://github.com/SamuelVasquez69"><img class="social_images" src="../styles/imagenes/github.png"
                        alt="link a github"></a>
                <a href="https://www.facebook.com/angelsamuel.vasquezgarcia.37/"> <img class="social_images"
                        src="../styles/imagenes/facebook.png" alt="link a facebook"></a>
                <a href="https://www.instagram.com/angelsamuel.vasquezgarcia.37/"> <img class="social_images"
                        src="../styles/imagenes/instagram.png" alt="link a facebook"></a>
            </footer>
        </div>
    </div>





</body>

</html>