<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    
     <!--  ingresamos el navbar  -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Sinopsis <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="genio_detras.html">Genio Detras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="popularizacion.html">Extra</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="creador_contenido.html">Creador Contenido</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="personal_info">
        <div class="container">
            <header>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="d-flex justify-content-center">
                            <img src="../styles/me.jpg" alt="me" id="me">
                        </div>
                        
                    </div>
                    <div class="col-lg-9">
                        <h1 style="text-align: center;">Samuel Vasquez</h1>
                        <p style="text-align: center;">
                            <i>
                                Estudiante en Ing. Computacion.
                            </i> 
                        </p>
                    </div>
                </div>
            </header>
           
            <section>
                <h3> Acerca de Mi</h3>

                <p>Soy Samuel Vasquez, y aun estoy cursando la carrera de Ing. en Computacion en la 
                    <i>
                        <a href="https://uni.edu.ni/#/">Universidad Nacional de Ingenieria (UNI)</a>
                    </i>.
                    Tengo 19 años, 
                    Uno de mis
                    metas es poder concluir mi carrera universitaria para asi poder lograr concluir mis anhelos tantos 
                    mios como los de mis seres cercanos. Por ello es la razon por la cual estoy cursando Este
                    curso de Programacion Web
                </p>
            </section>
           
        </div>
    </div>
   




</body>
</html>