<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>
<body>

    <div class=""></div>

    <div class="flex-center text-center" style="margin-bottom: 0;">
        <img src="../styles/onepiece.jpg" class="img-fluid" alt="Responsive image">
        <h1>Porque One Piece es God?...</h1>
    </div>

    <!--  ingresamos el navbar  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Sinopsis <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="genio_detras.html">Genio Detras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="creador_contenido.html">Creador del Contenido</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- empezamos a crear la tabla de info-->
    <div class="container">
        <div class="row">
            <div class="tabla-biografia">
                <table class="biografia">
                    <tbody>
                        <tr>
                            <th class="cabecera-table" colspan="2" style="padding-top: 20px;">
                                Eichiro Oda
                            </th>
                        </tr>
                        <tr>
                            <th class="cabecera-personalinfo" colspan="2">
                                Informacion Personal
                            </th>
                        </tr>
                        <tr>
                            <th class="nombre-nacimiento" style="text-align: left;">
                                Nombre de Nacimiento
                            </th>

                            <td>
                                Oda Eiichiro
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Otros Nombres
                            </th>
                            <td style="vertical-align: middle;">
                                Odacchi (オダッチ, Odacchi)
                            </td>
                        </tr>

                        <tr>
                            <th>
                                Nacimiento
                            </th>
                            <td style="vertical-align: middle;">
                                1 de enero de 1975 (46 Años) Kumamoto, Japon
                            </td>
                        </tr>

                        <tr>
                            <th class="cabecera-familyinfo" colspan="2">
                                Familia
                            </th>
                        </tr>
                        <tr>
                            <th>Conyuge</th>
                            <td> Chiaki Oda (尾田 千秋 Oda Chiaki) (matr. 2004) </td>
                        </tr>

                        <tr>
                            <th>Hijos</th>
                            <td> 2 (dos hijas nacidas en 2006 y 2009) </td>
                        </tr>

                        <tr>
                            <th class="cabecera-profesionalinfo" colspan="2">
                                Informacion Profesional
                            </th>
                        </tr>
                        <tr>
                            <th>Ocupacion</th>
                            <td> Mangaka</td>
                        </tr>
                        <tr>
                            <th>Años Activos</th>
                            <td> 1992-Presente</td>
                        </tr>
                        <tr>
                            <th>Empleador</th>
                            <td>Shūeisha</td>
                        </tr>

                        <tr>
                            <th>Obras Notables</th>
                            <td>One Piece</td>
                        </tr>

                        <tr>
                            <th>Distinciones</th>
                            <td> Premio Tezuka (1992), Wanted! Hot Step Award (1997), One Piece Japan Cartoonists Association Award (2012)</td>
                        </tr>
                    </tbody>
                </table>

                <!-- agregaremos una foto del mangaka -->
                <div class="d-flex justify-content-center">
                    <img src="../styles/Eiichiro Oda.jpg" alt="EichiroOda" id="foto-mangaka">
                </div>
                <p style="text-align: center;">Eichiro Oda</p>

            </div>


            <!-- ahora ingresaremos mas info de la persona -->

            <div class="col-sm-8">
                <h2 style="text-align: center; padding-top: 20px;">
                    <span>Carrera</span>
                </h2>
                <p>
                    A los 17 años, envió su trabajo <i>Wanted</i>, un manga de vaqueros, por el que ganó una gran cantidad de premios, entre ellos, ganó el segundo premio en la edición 44° de los
                    <a href="https://es.wikipedia.org/wiki/Premio_Tezuka" title="Tetzuka">Tezuka Awards</a>
                </p>
                <p>
                    Tras los reconocimientos, esto le valió el logro de trabajar en la revista
                    <i>
                        <a href="https://es.wikipedia.org/wiki/Sh%C5%ABkan_Sh%C5%8Dnen_Jump">Weekly Shonen Jump</a>
                    </i>
                    , donde trabajó inicialmente como asistente a Shinobu Kaitani en la serie
                    <i>Suizan Police Gang</i>
                    , y luego pasar a manos de Masaya Tokuhiro con
                    <i>Jungle King Tar-chan</i>
                    y
                    <i>Mizu no Tomodachi Kappaman</i>
                    , que dio él una influencia inesperada en su estilo artístico.
                </p>

                <p>Durante ese tiempo, dibujó
                    <i>Monsters</i>
                     en 1994 en la
                     <i>Autum special</i>
                      (una revista de temporada de la
                      <i>Weekly Jump</i>).
                       También Oda dibujó dos piratas con temas de una historia
                       <a href="https://es.wikipedia.org/wiki/One-shot" title="One-shot">one-shot</a>,
                       llamado "<i>Romance Dawn</i>", que fueron publicados en <i>Akamaru Jump</i> y <i>la Weekly Shonen</i> Jump, respectivamente, a finales de 1996.​
                        El shot contó con <a href="https://es.wikipedia.org/wiki/Monkey_D._Luffy" title="Monkey D. Luffy">Monkey D. Luffy</a>
                         como el protagonista, que luego se convirtió en el protagonista de
                         <i><a href="https://es.wikipedia.org/wiki/One_Piece" title="One Piece">One Piece</a></i>.
               </p>


               <h2 style="text-align: center;">
                   <span>Manga</span>
               </h2>

               <ul>
                   <li>
                       <i>
                           <a href="https://es.wikipedia.org/wiki/One_Piece">One Piece</a>
                       </i>
                       (1997 - Presente)
                   </li>
                   <li>
                       <i>Wanted!</i>
                       (1998), Coleccion de las sieguientes historias
                       <a href="https://es.wikipedia.org/wiki/One-shot">one-shot:</a>

                       <ul>
                           <li>
                               <i>Wanted!</i>
                               (1991)
                           </li>
                           <li>
                               <i>God's Gift for the Future</i>
                               (1993)
                           </li>
                           <li>
                               <i>Itsuki Yakou</i> (1993)
                           </li>
                           <li>
                               <i>Monster</i>
                               (1994)
                           </li>
                           <li>
                               <i>Romance Down</i>
                               (Version 2, 1996)
                           </li>
                       </ul>
                   </li>
                   <li>
                       <i>Dragon Ball x One Piece: Cross Epoch</i>
                       (2007)
                   </li>
                   <li>
                       <i>One Piece x Toriko x Dragon Ball Z: Cross Epoch</i>
                       (2013)
                   </li>
               </ul>

               <h2 style="text-align: center;" class="mw-headline">
                   <span>Peliculas</span>
               </h2>
               <ul>
                   <li>
                       <i>
                           <a href="https://es.wikipedia.org/wiki/One_Piece:_The_Movie">One Piece: The Movie (1998)</a>
                       </i>
                   </li>
                   <li>
                       <i>
                           <a href="https://es.wikipedia.org/wiki/One_Piece:_Nejimaki-jima_no_b%C5%8Dken">One Piece: Nejimaki-shima no bōken (2000)</a>
                       </i>
                   </li>

                   <li>
                       <i>
                           <a href="https://es.wikipedia.org/wiki/One_Piece:_Chinj%C5%AB-jima_no_Chopper-%C5%8Dkoku">One Piece: Chinjū-jima no Chopper-ōkoku (2001)</a>
                       </i>
                   </li>
                   <li>
                       <i>
                           <a href="https://es.wikipedia.org/wiki/One_Piece_The_Movie:_Dead_End_no_Bouken">One Piece The Movie: Dead End no Bouken (2002)</a>
                       </i>
                   </li>
                   <li>
                       <i>
                           <a href="https://es.wikipedia.org/wiki/One_Piece:_Norowareta_Seiken">One Piece: Norowareta Seiken (2003)</a>
                       </i>
                   </li>
                   <li>
                       <i>
                           <a href="https://es.wikipedia.org/wiki/One_Piece:_Omatsuri_Danshaku_to_Himitsu_no_Shima">One Piece: Omatsuri Danshaku to Himitsu no Shima (2004)</a>
                       </i>
                   </li>
                   <li>
                       <i>
                           <a href="https://es.wikipedia.org/wiki/One_Piece:_Karakuri-j%C5%8D_no_Mecha_Kyohei">One Piece: Karakuri-jō no Mecha Kyohei (2005)</a>
                       </i>
                   </li>
                   <li>
                       <i>
                           <a href="https://es.wikipedia.org/wiki/One_Piece:_Episode_of_Alabasta:_Sabaku_no_%C5%8Cjo_to_Kaizokutachi">One Piece: Episode of Alabasta: Sabaku no Ōjo to Kaizokutachi (2007)</a>
                       </i>
                   </li>
                   <li>
                       <i>
                           <a href="https://es.wikipedia.org/wiki/Anexo:Pel%C3%ADculas_de_One_Piece">One Piece: Fuyu ni Saku, Kiseki no Sakura (2008)</a>
                       </i>
                   </li>
                   <li>
                       <i>
                           <a href="https://es.wikipedia.org/wiki/One_Piece_Film:_Strong_World">One Piece Film: Strong World (2009)</a>
                       </i>
                   </li>
                   <li>
                       <i>
                           <a href="https://es.wikipedia.org/wiki/Anexo:Pel%C3%ADculas_de_One_Piece">One Piece 3D: Mugiwara Chase (2011)</a>
                       </i>
                   </li>
                   <li>
                       <i>
                           <a href="https://es.wikipedia.org/wiki/One_Piece_Film:_Z">One Piece Film: Z (2012)</a>
                       </i>
                   </li>
                   <li>
                       <i>
                           <a href="https://es.wikipedia.org/wiki/One_Piece_Film:_Gold">One Piece Film: Gold (2016)</a>
                       </i>
                   </li>
                   <li>
                       <i>
                           <a href="https://es.wikipedia.org/wiki/One_Piece:_Stampede">One Piece: Stampede (2019)</a>
                       </i>
                   </li>
               </ul>


               <h2 style="text-align: center;">
                   <span>Vida Personal</span>
               </h2>
               <p>
                   El 7 de noviembre de 2004, después de dos años de relación, Eiichiro Oda, de 29 años, se casó con Chiaki Inaba (稲葉ちあき Inaba Chiaki), nacida en la prefectura de Kanagawa, el 4 de enero de 1978.
               </p>
               <p>
                   En 2002, la Shonen Jump festa de Tokio realizó un musical live action de la franquicia de animé One Piece, en ella, Chiaki participó interpretando al personaje de Nami mediante un cosplay. Fue en aquel evento en donde la joven pareja se conoció, con ella de 24 y él de 26 años.9​ Entre 1999 y 2004, Inaba trabajó como modelo y actriz promocionando diversas marcas de cervezas y siendo además figura de la publicidad en el deporte automobilístico de Japón al ser una de las "reina de las carreras", las cuáles son modelos promotoras que acompañan al equipo en las paradas en boxes.
               </p>
               <p>
                   En 2006, Chiaki Oda (尾田 千秋 Oda Chiaki) dio a luz a una niña, la primera hija de Oda. En 2009, el matrimonio dio la bienvenida a su segunda hija, en ese entonces, la primogénita de la familia contaba con apenas tres años de edad.
               </p>

               <p>
                   Debido a su intenso trabajo de rutina, Oda duerme solo tres horas por noche, según cuenta el mismo. Además, vive separado de su esposa, Chiaki, y de sus dos hijas, las cuales lo visitan una vez por semana en su lugar de trabajo. Oda visita el hogar familiar en vacaciones.
               </p>


            </div>
        </div>

    </div>


</body>
</html>