<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>
<body>
    
    <div class=""></div>
    
    <div class="flex-center text-center" style="margin-bottom: 0;">
        <img src="../styles/onepiece.jpg" class="img-fluid" alt="Responsive image">
        <h1>Porque One Piece es God?...</h1>
    </div>

    <!--  ingresamos el navbar  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Sinopsis <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="genio_detras.html">Genio Detras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Creador del Contenido</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- empezamos a crear la tabla de info-->
    <div class="container">
        <div class="row">
            <div class="tabla-biografia">
                <table class="biografia">
                    <tbody>
                        <tr>
                            <th class="cabecera-table" colspan="2"> 
                                Eichiro Oda
                            </th>
                        </tr>
                        <tr>
                            <th class="cabecera-personalinfo" colspan="2">
                                Informacion Personal
                            </th>
                        </tr>
                        <tr>
                            <th class="nombre-nacimiento" style="text-align: left;">
                                Nombre de Nacimiento
                            </th>
                            
                            <td>
                                Oda Eiichiro
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Otros Nombres
                            </th>
                            <td style="vertical-align: middle;">
                                Odacchi (オダッチ, Odacchi)
                            </td>
                        </tr>

                        <tr>
                            <th>
                                Nacimiento
                            </th>
                            <td style="vertical-align: middle;">
                                1 de enero de 1975 (46 Años) Kumamoto, Japon
                            </td>
                        </tr>

                        <tr>
                            <th class="cabecera-familyinfo" colspan="2">
                                Familia
                            </th>
                        </tr>
                        <tr>
                            <th>Conyuge</th>
                            <td> Chiaki Oda (尾田 千秋 Oda Chiaki) (matr. 2004) </td>
                        </tr>
                        
                        <tr>
                            <th>Hijos</th>
                            <td> 2 (dos hijas nacidas en 2006 y 2009) </td>
                        </tr>

                        <tr>
                            <th class="cabecera-profesionalinfo" colspan="2">
                                Informacion Profesional
                            </th>
                        </tr>
                        <tr>
                            <th>Ocupacion</th>
                            <td> Mangaka</td>
                        </tr>
                        <tr>
                            <th>Años Activos</th>
                            <td> 1992-Presente</td>
                        </tr>
                        <tr>
                            <th>Empleador</th>
                            <td>Shūeisha</td>
                        </tr>

                        <tr>
                            <th>Obras Notables</th>
                            <td>One Piece</td>
                        </tr>

                        <tr>
                            <th>Distinciones</th>
                            <td> Premio Tezuka (1992), Wanted! Hot Step Award (1997), One Piece Japan Cartoonists Association Award (2012)</td>
                        </tr>
                    </tbody>
                </table>

                <!-- agregaremos una foto del mangaka -->
                <div class="d-flex justify-content-center">
                    <img src="../styles/Eiichiro Oda.jpg" alt="EichiroOda" id="foto-mangaka">
                </div>
                <p style="text-align: center;">Eichiro Oda</p>

            </div>
        </div>

    </div>


</body>
</html>