<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../styles/styles.css">

</head>

<body>

    <div class="flex-center text-center" style="margin-bottom: 0;">
        <img src="../styles/imagenes/onepiece.jpg" class="img-fluid" alt="Responsive image">
        <h1>Porque One Piece es God?...</h1>
    </div>

    <!--  ingresamos el navbar  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img class="imagen-logo-navbar" src="../styles/imagenes/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Sinopsis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="genio_detras.html">Genio Detras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="popularizacion.html">Extra</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="creador_contenido.html">Creador Contenido</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
                    <h2 style="margin-top: 25px; text-align: center;">Un Poco mas Acerca de One Piece...</h2>
                    <h3 style="padding: 25px;">
                        <b>Logros Obtenidos: </b>
                    </h3>
                    <p style="text-align: justify;"> Aunque la iconica obra de Eiichiro Oda, agranda su leyenda a cada año que pasa. A estas alturas,
                        pocos son
                        los que no han oído hablar alguna vez de las aventuras de Luffy y compañía. Esto se debe a que,
                        a pesar de
                        llevar más de dos décadas de actividad,
                        la travesía del capitán de los Piratas de Sombrero de Paja por tal de que este se convierta en
                        el Rey de los
                        Piratas sigue adelante, lo que permite que la obra como tal siga dejando marcas para el
                        recuerdo.</p>

                    <p style="text-align: justify;">
                        En tal sentido, conocemos ahora que "One Piece" cuenta ya con un total de 470 millones de copias
                        impresas en
                        todo el mundo - que no vendidas -. Este dato se actualiza mediante el volumen 96 de la
                        franquicia,
                        y la cifra se divide en 390 millones para Japón y 80 millones para el resto del mundo. A
                        continuación
                        encontraréis una comparativa del dato respecto a otras marcas de Weekly Shonen Jump:
                    </p>
                    
                    <div class="flex-center text-center">
                        <img src="../styles/imagenes/infoOnePiece.jpg" alt="imagen onepice" id="infoOnePiece">
                    </div>

                

            </div>
        </div>
    </div>
    </div>



    </div>

</body>

</html>